@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
.conteiner{
    max-width: 1304px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.About_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;

   h3{
    font-family: Manrope;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.64px;
   }
   button{
    max-width: 220px;
    height: 50px;
    border-radius: 100px ;
    border: 1px;
    border: 1px solid #454545;
    width: 100%;    
    color: #454545;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
   }
}

.about_carts {
    padding-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

  .about_cart {
    max-width: 300px;
    height: 360px;
    border: 1px;
    width: 100%;
    opacity: 0.5px;
    border: 1px solid #D9D9D9;

    .cart_img {
      padding: 40px;
    }
    .cart_txt {
      padding: 40px;

      h3{
          font-family: Manrope;
          font-size: 20px;
          font-weight: 700;
          line-height: 26px;
          max-width: 214px;
          height: 52px;
          width: 100%;
      }
      p{
          font-family: Manrope;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          max-width: 240px;
          height: 42px;
          width: 100%;
          padding-top: 20px;
      }
    }
  }
}

#link_btn2{
    max-width: 420px;
    height: 50px;
    border-radius: 100px ;
    border: 1px;
    border: 1px solid #454545;
    width: 100%;    
    color: #454545;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    
    display: none;
}

@media (max-width: 768px) {
    #link_btn1{
        display: none;
    }
    #link_btn2{
        display: block;
    }
    #about_h3{
        font-size: 32px;
    }

    .about_carts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .about_cart {
            max-width: calc(100% - 20px);
            height: 360px;
            border: 1px;
            width: 100%;
            opacity: 0.5px;
            border: 1px solid #D9D9D9;  

            .cart_img {
                padding: 40px;
            }
            .cart_txt {
                padding: 40px;

                h3{
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 26px;
                    max-width: 214px;
                    height: 52px;
                    width: 100%;
                    position: relative;
                    top: -20px;
                }
                p{
                    font-family: Manrope;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 20.8px;
                    max-width: 240px;
                    height: 42px;
                    width: 100%;
                    padding-top: 20px;
                }
            }
        }
    }
}
