@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.conteiner {
  max-width: 1304px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  max-width: 1800px;
  height: 500px;
  background: #F2F2F2;
  border-radius: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  .banner_txt {
    padding-top: 52px;
    h3 {
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 87.42px;

      #banner_mark {
        background: #454545;
        color: #F2F2F2;
        border-radius: 100px;
        padding: 10px;
      }
    }
  }

  .img {
    img {
      max-width: 453px;
      height: 453px;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    .banner_txt {
      h3 {
        font-size: 48px;
        line-height: 65px;
      }
    }
    .img {
      img {
        max-width: 350px;
        height: 350px;
      }
    }
  }
}

@media (max-width: 992px) {
  .banner {
    .banner_txt {
      h3 {
        font-size: 40px;
        line-height: 54px;
      }
    }
    .img {
      img {
        max-width: 300px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: auto;
    gap: 20px;

    .banner_txt {
      padding-top: 20px;
      h3 {
        font-size: 32px;
        line-height: 44px;
      }
    }

    .img {
      img {
        max-width: 250px;
        height: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .banner {
    .banner_txt {
      h3 {
        font-size: 24px;
        line-height: 34px;
      }
    }
    .img {
      img {
        max-width: 200px;
        height: auto;
      }
    }
  }
}
